# Python environments
.venv/
venv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/
Exam_NetworkCoordination_Presentation.ipynb

# Local editor and OS files
.vscode/
.DS_Store
Thumbs.db